body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #000;
	margin: 0;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: #000;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	color: #000;
}

figure {
	margin:0;
	padding:0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	min-height: 70px;
	background-color: #ababab; /* осторожно, покрашено */
	margin-bottom: 60px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.main-wrap {
	width: 940px;
	margin: 0 auto;
}

.main-navigation > ul > li {
	float: left;
}

.main-navigation > a {
	float: left;
}

.main-navigation {
	float: left;
	width: 780px;
}

.user-block {
	float: right;
	width: 140px;
}

.breadcrumbs > ul {
	padding:0;
	margin:0;
}

.breadcrumbs > ul > li {
	display: inline;
}

.breadcrumbs{
	margin-bottom: 60px;
}

.huge-img, .thumb-img {
	border: 1px solid black; /* вспомогательный, удобнее*/
}

.column-1 {
	float: left;
	width: 460px;
}

.column-2 {
	float: right;
	width: 390px;
}

footer.main-footer {
	background-color: #bebebe; /* осторожно, покрашено */
	margin-top: 50px;
	padding-top: 60px;
	padding-bottom: 40px;
}

section.footer-contacts {
	float: left;
	padding-right: 80px;
}

section.footer-social {
	float: left;
	padding-right: 260px;
}

section.footer-copyright {
	float: left;
}

.container-form {
	float: left;
	width: 220px;
	padding-right: 20px;
}

.container-products {
	float: left;
	width: 700px;
}

.main-pagination {
	margin-left: 220px;
}

.container-products {
	font-size: 0px;
}

.product-thumbnail {
	font-size: 14px;
	display: inline-block;
	margin-right: 20px;
}

.product-thumbnail:nth-of-type(3n){
	margin-right: 0;
}
